In [1]:
import requests
import bs4
import pandas as pd

# Male Baseball

In [2]:
# This function work for male baseball, basketball, (some)soccer, volleyball, waterpolo
def oneYear_roster(roster_url):
    response = requests.get(roster_url)
    soup = bs4.BeautifulSoup(response.text)
    athletes = soup.find_all('tbody')[2] # found after checking the html source code
    data = {'JerseyNum': [],
            'Name': [],
            'Position': [],
            'Height': [],
            'Weight':[],
            'Major': [],
            'Class':[],
            'HomeTownHighSchool':[]}
    for athlete in athletes.find_all('tr'):
        try:
            data['JerseyNum'].append(athlete.find('td', attrs={'class': 'roster_jerseynum'}).text)
        except:
            data['JerseyNum'].append("")
        try:
            data['Name'].append(athlete.find('td', attrs={'class': 'sidearm-table-player-name'}).find('a').text)
        except: 
            data['Name'].append("")
        try:
            data['Position'].append(athlete.find('td', attrs={'class': 'rp_position_short'}).text)
        except:
            data['Position'].append("")
        try:
            data['Height'].append(athlete.find('td', attrs={'class': 'height'}).text)
        except:
            data['Height'].append("")
        try:
            data['Weight'].append(athlete.find('td', attrs={'class': 'rp_weight'}).text)
        except:
            data['Weight'].append("")
        try:
            data['Major'].append(athlete.find('td', attrs={'class': 'player_major'}).text)
        except:
            data['Major'].append("")
        data['Class'].append(athlete.find('td', attrs={'class': 'roster_class'}).text)
        data['HomeTownHighSchool'].append(athlete.find('td', attrs={'class': 'hometownhighschool'}).text)
    
    return pd.DataFrame(data)

In [3]:
def male_baseball_rosters_all():
    baseball_rosters_all = {}
    for year in range(2006,2025): # just to note, no data for major before 2020
    #     print(year)
        baseball_url = f"https://ucsdtritons.com/sports/baseball/roster/{year}?print=true"
        baseball_rosters_all[str(year)] = oneYear_roster(baseball_url)
    
    dfs = None
    for year, df in baseball_rosters_all.items():
        df['Year'] = year
        if dfs is None:
            dfs = df
        else:
            dfs = pd.merge(dfs, df, how='outer')
    
    dfs = dfs[["Year","JerseyNum","Name","Position","Height","Weight","Major","Class","HomeTownHighSchool"]]
    return dfs

In [4]:
dfs = male_baseball_rosters_all()
dfs.to_csv('male_baseball_rosters.csv', index=False) # save as csv
pd.read_csv('male_baseball_rosters.csv') # checking

,Year,JerseyNum,Name,Position,Height,Weight,Major,Class,HomeTownHighSchool
0,2006,2,Damian Fante,OF,5-10,NaN,NaN,Sr.,"Thousand Oaks, CA / Thousand Oaks HS"
1,2006,3,Matt Lawson,OF,6-1,NaN,NaN,Sr.,"Yorba Linda, CA / Esperanza HS"
2,2006,4,David Gomez,OF,5-8,NaN,NaN,Sr.,"Orange, CA / Mater Dei HS"
3,2006,6,Jonathan Erickson,IF,6-0,NaN,NaN,Jr.,"Tustin, CA / Foothill HS"
4,2006,8,David Morehead,C/1B,5-10,NaN,NaN,Jr.,"San Diego, CA / Rancho Bernardo HS"
...,...,...,...,...,...,...,...,...,...
667,2024,43,Cooper Thacker,MIF/OF,6-0,NaN,Communications,R-Jr.,"Chico, Calif. / Pleasant Valley HS"
668,2024,44,Landon Runyan,OF,5-11,NaN,Business Economics,Fr.,"Huntington, Calif. / Ocean View HS"
669,2024,45,Steele Murdock,RHP,6-2,NaN,Undeclared,Fr.,"Herriman, Utah / Herriman HS"
670,2024,46,Michael Crossland,OF,6-0,NaN,Human Biology,Fr.,"Seattle, Wash. / Roosevelt HS"
671,2024,50,Ryan Farmer,RHP,6-1,NaN,Business Psychology,Sr.,"Laguna Hills, Calif. / JSerra Catholic HS"

# Male Basketball

In [5]:
# url format for basketball is this: "https://ucsdtritons.com/sports/mens-basketball/roster/2023-24?print=true"

def basketball_rosters_all(women=False):
    basketball_rosters_all = {}
    for year in range(2005,2024): 
#         print(year)
        year_str = str(year)+"-"+ str(year+1)[-2:]
        if women == True:
            basketball_url = f"https://ucsdtritons.com/sports/womens-basketball/roster/{year_str}?print=true"
        else:
            basketball_url = f"https://ucsdtritons.com/sports/mens-basketball/roster/{year_str}?print=true"
        basketball_rosters_all[str(year)] = oneYear_roster(basketball_url)
    
    dfs = None
    for year, df in basketball_rosters_all.items():
        df['Year'] = year
        if dfs is None:
            dfs = df
        else:
            dfs = pd.merge(dfs, df, how='outer')
    
    dfs = dfs[["Year","JerseyNum","Name","Position","Height","Weight","Major","Class","HomeTownHighSchool"]]
    return dfs

In [6]:
dfs_basketball = basketball_rosters_all()
dfs_basketball.to_csv('male_basketball_rosters.csv', index=False) # save as csv
pd.read_csv('male_basketball_rosters.csv') # checking

,Year,JerseyNum,Name,Position,Height,Weight,Major,Class,HomeTownHighSchool
0,2005,10,Mike Bakal,G,6-1,NaN,NaN,R-Fr.,"Piedmont, CA / Piedmont HS"
1,2005,11,Jason Bull,G,6-1,NaN,NaN,So.,"Pleasanton, CA / Amador Valley HS"
2,2005,12,Evan Demkiw,G,6-4,NaN,NaN,Jr.,"Carlsbad, CA / La Costa Canyon HS"
3,2005,14,Andrew Hatch,G,6-2,NaN,NaN,So.,"Chino Hills, CA / Ayala HS"
4,2005,21,Darryl Lawlor,F,6-5,NaN,NaN,Fr.,"Yorba Linda, CA / Esperanza HS"
...,...,...,...,...,...,...,...,...,...
289,2023,20,Aidan Burke,G,6-3,190.0,Economics,Fr.,"Los Gatos, Calif. / Phillips Exeter Academy"
290,2023,22,Yaqub Mir,G,6-2,175.0,Data Science,Fr.,"Granite Bay, Calif. / Granite Bay HS"
291,2023,25,Emmanuel Tshimanga,C,7-0,270.0,Sociology,R-Sr.,"Montreal, Quebec / Bella Vista Prep (Ariz.)"
292,2023,33,J'Raan Brooks,F,6-9,215.0,Ethnic Studies,R-Sr.,"Seattle, Wash. / Garfield HS"
293,2023,35,Francis Nwaokorie,F,6-7,220.0,Public Health,Jr.,"Brooklyn Park, Minn. / Champlin Park HS"

# Female Basketball

In [7]:
dfs_female_basketball = basketball_rosters_all(women=True)
dfs_basketball.to_csv('female_basketball_rosters.csv', index=False) # save as csv
pd.read_csv('female_basketball_rosters.csv') # checking

,Year,JerseyNum,Name,Position,Height,Weight,Major,Class,HomeTownHighSchool
0,2005,10,Mike Bakal,G,6-1,NaN,NaN,R-Fr.,"Piedmont, CA / Piedmont HS"
1,2005,11,Jason Bull,G,6-1,NaN,NaN,So.,"Pleasanton, CA / Amador Valley HS"
2,2005,12,Evan Demkiw,G,6-4,NaN,NaN,Jr.,"Carlsbad, CA / La Costa Canyon HS"
3,2005,14,Andrew Hatch,G,6-2,NaN,NaN,So.,"Chino Hills, CA / Ayala HS"
4,2005,21,Darryl Lawlor,F,6-5,NaN,NaN,Fr.,"Yorba Linda, CA / Esperanza HS"
...,...,...,...,...,...,...,...,...,...
289,2023,20,Aidan Burke,G,6-3,190.0,Economics,Fr.,"Los Gatos, Calif. / Phillips Exeter Academy"
290,2023,22,Yaqub Mir,G,6-2,175.0,Data Science,Fr.,"Granite Bay, Calif. / Granite Bay HS"
291,2023,25,Emmanuel Tshimanga,C,7-0,270.0,Sociology,R-Sr.,"Montreal, Quebec / Bella Vista Prep (Ariz.)"
292,2023,33,J'Raan Brooks,F,6-9,215.0,Ethnic Studies,R-Sr.,"Seattle, Wash. / Garfield HS"
293,2023,35,Francis Nwaokorie,F,6-7,220.0,Public Health,Jr.,"Brooklyn Park, Minn. / Champlin Park HS"

# Fencing 
both Male and Female in the same pdf

In [ ]:
def fencing_oneYear_roster(roster_url, women = False):
    response = requests.get(roster_url)
    soup = bs4.BeautifulSoup(response.text)
    if women == True:
        athletes = soup.find_all('tbody')[3] # women
    else:
        athletes = soup.find_all('tbody')[2] # men
    data = {'JerseyNum': [],
            'Name': [],
            'Position': [],
            'Height': [],
            'Weight':[],
            'Major': [],
            'Class':[],
            'HomeTownHighSchool':[]}
    for athlete in athletes.find_all('tr'):
        try:
            data['JerseyNum'].append(athlete.find('td', attrs={'class': 'roster_jerseynum'}).text)
        except:
            data['JerseyNum'].append("")
        data['Name'].append(athlete.find('td', attrs={'class': 'sidearm-table-player-name'}).find('a').text)
        data['Position'].append(athlete.find('td', attrs={'class': 'rp_position_short'}).text)
        try:
            data['Height'].append(athlete.find('td', attrs={'class': 'height'}).text)
        except:
            data['Height'].append("")
        try:
            data['Weight'].append(athlete.find('td', attrs={'class': 'rp_weight'}).text)
        except:
            data['Weight'].append("")
        try:
            data['Major'].append(athlete.find('td', attrs={'class': 'player_major'}).text)
        except:
            data['Major'].append("")
        data['Class'].append(athlete.find('td', attrs={'class': 'roster_class'}).text)
        data['HomeTownHighSchool'].append(athlete.find('td', attrs={'class': 'hometownhighschool'}).text)
    
    return pd.DataFrame(data)

In [ ]:
# url format https://ucsdtritons.com/sports/fencing/roster?print=true

def fencing_rosters_all(women=False):
    fencing_rosters_all = {}
    for year in range(2005,2024): 
#         print(year)
        year_str = str(year)+"-"+ str(year+1)[-2:]
        fencing_url = f"https://ucsdtritons.com/sports/fencing/roster/{year_str}?print=true"
        fencing_rosters_all[str(year)] = fencing_oneYear_roster(fencing_url,women)

    dfs = None
    for year, df in fencing_rosters_all.items():
        df['Year'] = year
        if dfs is None:
            dfs = df
        else:
            dfs = pd.merge(dfs, df, how='outer')
    
    dfs = dfs[["Year","JerseyNum","Name","Position","Height","Weight","Major","Class","HomeTownHighSchool"]]
    return dfs

In [ ]:
dfs_female_fencing = fencing_rosters_all(women=True)
dfs_female_fencing.to_csv('female_fencing_rosters.csv', index=False) # save as csv
pd.read_csv('female_fencing_rosters.csv') # checking

In [ ]:
dfs_male_fencing = fencing_rosters_all(women=False)
dfs_male_fencing.to_csv('male_fencing_rosters.csv', index=False) # save as csv
pd.read_csv('male_fencing_rosters.csv') # checking

# Male Soccer

In [8]:
# for soccer male 2005-2010
def oneYear_roster_soccer_20052010(roster_url):
    response = requests.get(roster_url)
    soup = bs4.BeautifulSoup(response.text)
    data = {'JerseyNum': [],
            'Name': [],
            'Position': [],
            'Height': [],
            'Weight':[],
            'Major': [],
            'Class':[],
            'HomeTownHighSchool':[]}
    athletes = soup.find_all('tbody')[2]
    for athlete in athletes.find_all('tr'):
        try:
            data['JerseyNum'].append(athlete.find('td', attrs={'class': 'roster_jerseynum'}).text)
        except:
            data['JerseyNum'].append("")
        try:
            data['Name'].append(athlete.find('td', attrs={'class': 'sidearm-table-player-name'}).find('a').text)
        except: 
            data['Name'].append("")
        try:
            data['Position'].append(athlete.find('td', attrs={'class': 'rp_position_short'}).text)
        except:
            data['Position'].append("")
        try:
            data['Height'].append(athlete.find('td', attrs={'class': 'height'}).text)
        except:
            data['Height'].append("")
        try:
            data['Weight'].append(athlete.find('td', attrs={'class': 'rp_weight'}).text)
        except:
            data['Weight'].append("")
        try:
            data['Major'].append(athlete.find('td', attrs={'class': 'player_major'}).text)
        except:
            data['Major'].append("")
        data['Class'].append(athlete.find('td', attrs={'class': 'roster_class'}).text)
        data['HomeTownHighSchool'].append(athlete.find('td', attrs={'class': 'hometownhighschool'}).text)
        
    athletes = soup.find_all('tbody')[3]
    for athlete in athletes.find_all('tr'):
        try:
            data['JerseyNum'].append(athlete.find('td', attrs={'class': 'roster_jerseynum'}).text)
        except:
            data['JerseyNum'].append("")
        try:
            data['Name'].append(athlete.find('td', attrs={'class': 'sidearm-table-player-name'}).find('a').text)
        except: 
            data['Name'].append("")
        try:
            data['Position'].append(athlete.find('td', attrs={'class': 'rp_position_short'}).text)
        except:
            data['Position'].append("")
        try:
            data['Height'].append(athlete.find('td', attrs={'class': 'height'}).text)
        except:
            data['Height'].append("")
        try:
            data['Weight'].append(athlete.find('td', attrs={'class': 'rp_weight'}).text)
        except:
            data['Weight'].append("")
        try:
            data['Major'].append(athlete.find('td', attrs={'class': 'player_major'}).text)
        except:
            data['Major'].append("")
        data['Class'].append(athlete.find('td', attrs={'class': 'roster_class'}).text)
        data['HomeTownHighSchool'].append(athlete.find('td', attrs={'class': 'hometownhighschool'}).text)
    
    return pd.DataFrame(data)

In [9]:
def male_soccer_rosters_all():
    soccer_rosters_all = {}
    for year in range(2005,2024): # 2005-2023
    #     print(year)
        soccer_url = f"https://ucsdtritons.com/sports/mens-soccer/roster/{year}?print=true"
        if year >= 2011:
            soccer_rosters_all[str(year)] = oneYear_roster(soccer_url)
        else:
            # from 2005-2010 have "WOMEN'S 2005 MEN'S SOCCER ROSTER", needs to combine
            soccer_rosters_all[str(year)] = oneYear_roster_soccer_20052010(soccer_url)
    
    dfs = None
    for year, df in soccer_rosters_all.items():
        df['Year'] = year
        if dfs is None:
            dfs = df
        else:
            dfs = pd.merge(dfs, df, how='outer')
    
    dfs = dfs[["Year","JerseyNum","Name","Position","Height","Weight","Major","Class","HomeTownHighSchool"]]
    return dfs

In [10]:
dfs_soccer_male = male_soccer_rosters_all()
dfs_soccer_male.to_csv('male_soccer_rosters.csv', index=False) # save as csv
pd.read_csv('male_soccer_rosters.csv') # checking

,Year,JerseyNum,Name,Position,Height,Weight,Major,Class,HomeTownHighSchool
0,2005,16,Joe Shah,M,5-10,NaN,NaN,Fr.,"Santa Ana, CA / Foothill HS"
1,2005,19,Jonathan Sawyer,M,5-8,NaN,NaN,Fr.,"San Diego, CA / University City HS"
2,2005,22,Tom Caplan,F,5-11,NaN,NaN,Fr.,"Mission Viejo, CA / Mission Viejo HS"
3,2005,1,Edward Ruhland,GK,6-3,NaN,NaN,Sr.,"Hilo, HI / Hilo HS"
4,2005,2,Devon Cook,D,5-11,NaN,NaN,Jr.,"Carlsbad, CA / Carlsbad HS"
...,...,...,...,...,...,...,...,...,...
487,2023,25,Keenai Braun,D,6-1,166.0,Undeclared,Fr.,"Foothill Ranch, Calif. / J. Serra Catholic HS"
488,2023,26,Elliott Hill,M,5-9,140.0,Cognitive Science,Fr.,"Poway, Calif. / Poway HS"
489,2023,30,Mitchell Wilson,GK,6-4,195.0,Climate Science and Policy,Sr.,"Huntington Beach, Calif. /"
490,2023,31,Andrew McGee,M,5-8,140.0,International Business,Jr.,"Fullerton, Calif. /"
491,2023,32,James Redington,M,5-10,162.0,Economics,So.,"Manhattan Beach, Calif. /"

# Female Soccer

In [11]:
def female_soccer_rosters_all():
    soccer_rosters_all = {}
    for year in range(2005,2024): # 2005-2023
    #     print(year)
        soccer_url = f"https://ucsdtritons.com/sports/womens-soccer/roster/{year}?print=true"
        if year >= 2009:
            soccer_rosters_all[str(year)] = oneYear_roster(soccer_url)
        else:
            # from 2005-2008 have "MEN'S 2005 W SOCCER ROSTER", needs to combine
            soccer_rosters_all[str(year)] = oneYear_roster_soccer_20052010(soccer_url)
    
    dfs = None
    for year, df in soccer_rosters_all.items():
        df['Year'] = year
        if dfs is None:
            dfs = df
        else:
            dfs = pd.merge(dfs, df, how='outer')
    
    dfs = dfs[["Year","JerseyNum","Name","Position","Height","Weight","Major","Class","HomeTownHighSchool"]]
    return dfs

In [12]:
dfs_soccer_female = female_soccer_rosters_all()
dfs_soccer_female.to_csv('female_soccer_rosters.csv', index=False) # save as csv
pd.read_csv('female_soccer_rosters.csv') # checking

,Year,JerseyNum,Name,Position,Height,Weight,Major,Class,HomeTownHighSchool
0,2005,2,Stacy Johnson,D,5-5,NaN,NaN,So.,"San Diego, CA / La Jolla HS"
1,2005,3,Kelly Cochran,M,5-6,NaN,NaN,Jr.,"Westlake Village, CA / Westlake HS"
2,2005,4,Alise Malley,F,5-5,NaN,NaN,Jr.,"Carlsbad, CA / Carlsbad HS"
3,2005,5,Kelly Mayo,M,5-6,NaN,NaN,Fr.,"Oakland, CA / Bishop O'Dowd HS"
4,2005,6,Heather Sugg,M,5-10,NaN,NaN,Jr.,"Lake Forest, CA / El Toro HS"
...,...,...,...,...,...,...,...,...,...
507,2023,25,Shima Dixon,M,5-4,NaN,Public Health,Fr.,"Berkeley, Calif. / Berkeley HS"
508,2023,26,Lucy Granger,D,5-7,NaN,Cognitive Science,Jr.,"Huntington Beach, Calif. / Edison HS"
509,2023,27,Audrey Reed,F,5-3,NaN,Communication,Jr.,"Morgan Hill, Calif. / Live Oak HS"
510,2023,28,Andrea Guillen,F/D,5-7,NaN,Undeclared,Fr.,"San Diego, Calif. / Gompers Prep"
511,2023,29,Corinne Wilson,M,5-5,NaN,Bioengineering,So.,"San Diego, Calif. / Point Loma HS"

# Male Volleyball

In [13]:
# url format https://ucsdtritons.com/sports/womens-volleyball/roster/2008?print=true

def volleyball_rosters_all(women=False):
    volleyball_rosters_all = {}
    for year in range(2006,2025): #2006-2024
#         print(year)
        if women == True:
            volleyball_url = f"https://ucsdtritons.com/sports/womens-basketball/roster/{year}?print=true"
        else:
            volleyball_url = f"https://ucsdtritons.com/sports/mens-basketball/roster/{year}?print=true"
        volleyball_rosters_all[str(year)] = oneYear_roster(volleyball_url)
    
    dfs = None
    for year, df in volleyball_rosters_all.items():
        df['Year'] = year
        if dfs is None:
            dfs = df
        else:
            dfs = pd.merge(dfs, df, how='outer')
    
    dfs = dfs[["Year","JerseyNum","Name","Position","Height","Weight","Major","Class","HomeTownHighSchool"]]
    return dfs

In [14]:
dfs_volleyball = volleyball_rosters_all()
dfs_volleyball.to_csv('male_volleyball_rosters.csv', index=False) # save as csv
pd.read_csv('male_volleyball_rosters.csv') # checking

,Year,JerseyNum,Name,Position,Height,Weight,Major,Class,HomeTownHighSchool
0,2006,0,Camden McCormick,G,6-3,190,International Business,So.,"San Diego, Calif. / Francis W. Parker School"
1,2006,2,Michael Pearson Jr.,G,5-9,160,Public Health,R-So.,"Tracy, Calif. / Modesto Christian HS"
2,2006,3,Justin DeGraaf,F,6-7,210,Math - Computer Science,Jr.,"Hudsonville, Mich. / Bosco Institute"
3,2006,4,Bryce Pope,G,6-3,185,Real Estate and Development,R-Sr.,"San Diego, Calif. / Torrey Pines HS"
4,2006,5,Cade Pendleton,F,6-10,210,International Business,R-Fr.,"Chattanooga, Tenn. / East Hamilton HS"
...,...,...,...,...,...,...,...,...,...
299,2024,20,Aidan Burke,G,6-3,190,Economics,Fr.,"Los Gatos, Calif. / Phillips Exeter Academy"
300,2024,22,Yaqub Mir,G,6-2,175,Data Science,Fr.,"Granite Bay, Calif. / Granite Bay HS"
301,2024,25,Emmanuel Tshimanga,C,7-0,270,Sociology,R-Sr.,"Montreal, Quebec / Bella Vista Prep (Ariz.)"
302,2024,33,J'Raan Brooks,F,6-9,215,Ethnic Studies,R-Sr.,"Seattle, Wash. / Garfield HS"
303,2024,35,Francis Nwaokorie,F,6-7,220,Public Health,Jr.,"Brooklyn Park, Minn. / Champlin Park HS"

# Female Volleyball

In [15]:
dfs_volleyball_female = volleyball_rosters_all(women=True)
dfs_volleyball_female.to_csv('female_volleyball_rosters.csv', index=False) # save as csv
pd.read_csv('female_volleyball_rosters.csv') # checking

,Year,JerseyNum,Name,Position,Height,Weight,Major,Class,HomeTownHighSchool
0,2006,2,Grace Talbot,G,5-7,NaN,Communications,So.,"Littleton, Colo. / Chatfield Senior HS"
1,2006,3,Sumayah Sugapong,G,5-7,NaN,Undeclared,Fr.,"San Diego, Calif. / La Jolla Country Day"
2,2006,5,Gabby Louther,G,5-11,NaN,Undeclared,So.,"Pueblo West, Colo. / Pueblo West HS"
3,2006,11,Erin Condron,F/C,6-4,NaN,Human Biology,Fr.,"Woodend, Victoria, Australia / Braemar College"
4,2006,12,Rosa Smith,G,5-7,NaN,Human Developmental Sciences,So.,"Kirkland, Wash. / Lake Washington HS"
...,...,...,...,...,...,...,...,...,...
280,2024,25,Junae Mahan,G,5-8,NaN,Undeclared,So.,"Stockton, Calif. / Lincoln HS"
281,2024,30,Damilola Sule,F,6-0,NaN,Cognitive Science,Jr.,"Bakersfield, Calif. / Bakersfield Christian HS"
282,2024,32,Parker Montgomery,G,5-7,NaN,Business Economics,Sr.,"Porter Ranch, Calif. / Marlborough HS"
283,2024,33,Emma Svoboda,C,6-3,NaN,Human Developmental Sciences,Jr.,"La Quinta, Calif. / La Quinta HS"
284,2024,35,Katie Springs,C,6-0,NaN,Political Science: Pre-Law,Jr.,"San Jose, Calif. / Archbishop Mitty HS"

# Male Waterpolo

In [16]:
# url format https://ucsdtritons.com/sports/mens-water-polo/roster/2021?print=true

def waterpolo_rosters_all(women=False):
    waterpolo_rosters_all = {}
    for year in range(2005,2024): #2005-2023
#         print(year)
        if women == True:
            waterpolo_url = f"https://ucsdtritons.com/sports/womens-water-polo/roster/{year}?print=true"
        else:
            waterpolo_url = f"https://ucsdtritons.com/sports/mens-water-polo/roster/{year}?print=true"
        waterpolo_rosters_all[str(year)] = oneYear_roster(waterpolo_url)
    
    dfs = None
    for year, df in waterpolo_rosters_all.items():
        df['Year'] = year
        if dfs is None:
            dfs = df
        else:
            dfs = pd.merge(dfs, df, how='outer')
    
    dfs = dfs[["Year","JerseyNum","Name","Position","Height","Weight","Major","Class","HomeTownHighSchool"]]
    return dfs

In [17]:
dfs_waterpolo = waterpolo_rosters_all()
dfs_waterpolo.to_csv('male_waterpolo_rosters.csv', index=False) # save as csv
pd.read_csv('male_waterpolo_rosters.csv') # checking

,Year,JerseyNum,Name,Position,Height,Weight,Major,Class,HomeTownHighSchool
0,2005,1,McElroy Colin,GK,6-5,NaN,NaN,Sr.,"Solana Beach, CA / Torrey Pines HS"
1,2005,1,Bryan Corbett,GK,6-2,NaN,NaN,Sr.,"Carmichael, CA / Rio Americano HS"
2,2005,1,David Miller,GK,6-0,NaN,NaN,Sr.,"Ventura, CA / Ventura HS"
3,2005,1,Jeremy Randall,GK,6-3,NaN,NaN,Jr.,"Lake Forest, CA / El Toro HS"
4,2005,2,Chris Finegold,2M,6-6,NaN,NaN,Sr.,"Palo Alto, CA / Palo Alto HS"
...,...,...,...,...,...,...,...,...,...
467,2023,21,Reef Lippa,ATK,6-0,NaN,Marine Biology,R-Fr.,"Santa Ana, Calif. / Foothill"
468,2023,22,Luca Rago,DEF,6-1,NaN,Undecided,So.,"Moraga, Calif. / Campolindo"
469,2023,23,Trevor Moore,ATK,6-4,NaN,International Studies,Jr.,"La Mesa, Calif. / Steele Canyon"
470,2023,24,Kaden Likins,ATK,6-1,NaN,Urban Studies & Planning,Sr.,"Dana Point, Calif. / Dana Hills"
471,2023,25,Mason Presley,ATK,6-3,NaN,Undecided,Fr.,"Dana Point, Calif. / JSerra Catholic"

# Female Waterpolo

In [18]:
# url format https://ucsdtritons.com/sports/mens-water-polo/roster/2021?print=true

def waterpolo_rosters_all_female():
    waterpolo_rosters_all = {}
    for year in range(2005,2024): #2005-2024
#         print(year)
        if year == 2021:
            continue
        elif year >= 2022:
            waterpolo_url = f"https://ucsdtritons.com/sports/womens-water-polo/roster/{year}?print=true"
        else:
            # from 2005-2020 all has the format 2005-06 until 2020-21
            year_str = str(year)+"-"+ str(year+1)[-2:]
            waterpolo_url = f"https://ucsdtritons.com/sports/womens-water-polo/roster/{year_str}?print=true"
        waterpolo_rosters_all[str(year)] = oneYear_roster(waterpolo_url)
    
    dfs = None
    for year, df in waterpolo_rosters_all.items():
        df['Year'] = year
        if dfs is None:
            dfs = df
        else:
            dfs = pd.merge(dfs, df, how='outer')
    
    dfs = dfs[["Year","JerseyNum","Name","Position","Height","Weight","Major","Class","HomeTownHighSchool"]]
    return dfs

In [19]:
dfs_waterpolo_female = waterpolo_rosters_all_female()
dfs_waterpolo_female.to_csv('female_waterpolo_rosters.csv', index=False) # save as csv
pd.read_csv('female_waterpolo_rosters.csv') # checking

,Year,JerseyNum,Name,Position,Height,Weight,Major,Class,HomeTownHighSchool
0,2005,1,Kaitlin Foe,GK,5-11,NaN,NaN,Sr.,"Woodland, CA / Davis Senior HS"
1,2005,1,Markayla Quane,GK,5-8,NaN,NaN,Fr.,"El Segundo, CA / El Segundo HS"
2,2005,3,Britta Nordstrom,2MD,6-1,NaN,NaN,Jr.,"Hollister, CA / San Benito HS"
3,2005,4,Miho Umezawa,DRI,5-5,NaN,NaN,Jr.,"Irvine, CA / Irvine HS"
4,2005,6,Sarah Bajorek,2MD,5-11,NaN,NaN,Jr.,"Tustin, CA / Tustin HS"
...,...,...,...,...,...,...,...,...,...
356,2023,21,Hannah Kawar,NaN,5-10,NaN,NaN,Jr.,"Orinda, Calif. / Notre Dame"
357,2023,22,Cascade Stensland,NaN,6-2,NaN,NaN,Fr.,"Lake Oswego, Ore. / Lakeridge"
358,2023,23,Sofia Munatones,NaN,5-2,NaN,NaN,Fr.,"Huntington Beach, Calif. / Los Alamitos"
359,2023,24,Allie Bartholomew,NaN,5-3,NaN,NaN,Fr.,"Santa Barbara, Calif. / Santa Barbara"
360,2023,25,Maja Layden,NaN,6-2,NaN,NaN,Fr.,"Mill Valley, Calif. / Tamalpais"